@{
    Layout=null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us</title>
</head>
<body>
    <h1>About Us</h1>
    <h2>We are a small business, committed to help people discover their true potentiels</h2>
    <p>The ERTMS program is an international standard program created to implement a common interoperable platform for European railway signaling systems different with predefined limits, the control/command system (ATP/ATC) chosen for the ERTMS standard is an interoperable system standardized, called ETCS (European Train Control System). The ETCS system is a unified train control/command system, which mainly concerns the speed control and cab signaling. It works by means of beacons and/or the GSM-R system. The environment of the ERTMS/ETCS system consists of:</p>
    
</body>
</html>